@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    outline: 0;
    transition: all 0.3s ease-in-out;
}

body {
    font-family: "Open Sans", Helvetica, HelveticaNeue, HelveticaNeueCyr, "Noto Sans", sans-serif;
    background-color: #fdfdfd;
    padding: 0;
    margin: 0;
}

#main-wrapper {
    padding: 0 30px;
    margin: 0 auto;
    width: 768px;
}

a {
    color: #007777;
    text-decoration: none;
}

a:hover {
    color: #990000;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lora, Garamond, serif;
}

h3 {
    font-size: 16pt;
    margin-bottom: 15px;
}

h4 {
    font-size: 14pt;
}

.accordion h4 {
    margin: 0;
}

#info-links ul {
    margin: 15px 0 0 0;
}

#info-links ul li {
    display: inline;
    margin-right: 25px;
    line-height: 30px;
}

#info-links ul li a i {
    margin-right: 5px;
}

.links ul {
    display: flex;
    flex-wrap: wrap;
}

.links ul li {
    flex-basis: 50%;
}

.links ul li:nth-child(odd) {
    padding-right: 20px;
}

.links ul li:nth-child(even) {
    padding-left: 20px;
}

.links ul li a {
    font-weight: bold;
    text-decoration: underline;
}

.links ul li p {
    padding-top: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #333333;
    font-size: 10pt;
}

.links ul li p.demo a {
    font-weight: normal;
    color: #666666;
}

.links ul li p.demo a:hover {
    color: #007777;
}

section#main {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

section#main > div {
    flex-basis: 50%;
    margin-right: 90px;
}

section#info {
    margin-bottom: 60px;
    border-bottom: 1px solid #cecece;
    padding: 30px 0 15px 0;
}

section#info p {
    padding: 0;
    margin: 0;
    font-size: 12pt;
    color: #333333;
}

/*accordion*/

.accordion {
    width: 100%;
}

.accordion input {
    display: none;
}

.accordion-item {
    position: relative;
}

.accordion-header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: block;
    cursor: pointer;
    border-bottom: 1px solid #cecece;
    color: #333333;
}

.accordion-text {
    width: 100%;
    font-size: 11pt;
    color: #555555;
    display: block;
    height: 0;
    overflow: hidden;
    opacity: 0;
    position: relative;
    top: -10px;
    background: #fafafa;
}

.accordion-text > div {
    padding: 30px;
}

.closing {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

input:checked + .accordion-item {
    height: auto;
}

input:checked + .accordion-item .accordion-text,
input:checked + .accordion-item .closing {
    display: block;
}

input:checked + .accordion-item .accordion-text {
    height: auto;
    opacity: 1;
    top: 0;
}

.dropdown-arrows section .accordion-header {
    padding: 0 0 0 30px;
}

.dropdown-arrows section .accordion-header:before {
    position: absolute;
    display: block;
    content: '\203a';
    font-size: 18pt;
    left: 12px;
    top: -2px;
    color: #333333;
}

input:checked + section.accordion-item .accordion-header:before {
    transform: rotate(90deg);
    top: 1px;
}

/*media*/

@media screen and (max-width: 850px) {
    section#main {
        flex-direction: column;
    }

    #main-wrapper {
        width: 100%;
        padding: 0 40px;
    }

    #info-links ul li {
        line-height: 45px;
    }

    .accordion-text > div {
        padding: 30px 0;
    }
}